# Kconfig - Settings - SFCB Backend
#
# Copyright (c) 2019 Laczen
#
# SPDX-License-Identifier: Apache-2.0
#

config SETTINGS_SFCB
	bool "Settings - SFCB Backend"
	depends on SETTINGS && SFCB
	help
	  Enable support of SFCB Backend for settings.

if SETTINGS_SFCB

module = SETTINGS_SFCB
module-str = settings_sfcb
source "subsys/logging/Kconfig.template.log_config"

config SETTINGS_SFCB_DEFAULT
	bool "Enable a default SFCB backend for settings"
	depends on SETTINGS_CUSTOM
	default y
	help
	  Prepare a default backend for settings storage

endif #SETTINGS_SFCB