/*
 * Copyright (c) 2019 Laczen
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/delete-node/ &storage_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;
/delete-node/ &boot_partition;

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "zepboot";
			reg = <0x00000000 0x6000>;
		};
		scratch_partition: partition@6000 {
			label = "image-scratch";
			reg = <0x0006000 0x1000>;
		};
		slot0_partition: partition@7000 {
			label = "image-0";
			reg = <0x00007000 0x3A000>;
		};
		slot1_partition: partition@41000 {
			label = "image-1";
			reg = <0x00041000 0x3A000>;
		};
		storage_partition: partition@7B000 {
			label = "storage";
			reg = <0x0007B000 0x0005000>;
		};
	};
};
